<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cyticketclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.ReviewsActivity"></activity>
        <activity android:name=".UI.AddRatingActivity" />
        <activity android:name=".UI.AddPostActivity" />
        <activity android:name=".UI.LoginActivity">

            <!-- commented out for testing ease of access, un-comment for final version -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.NewProfile" />
        <activity android:name=".UI.SpecificPost" />
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".UI.SpecificMessage">

            <!-- set to open on hub for ease of testing, remove for final version -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>